h1.text-404 {
    color: red;
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

div.button {
    border-radius: 3px;
    background-color: rgb(11, 125, 255);
    box-sizing: unset;
    height: fit-content;
    width: fit-content;
}