h1.text-404 {
    color: red;
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

div.button {
    background-color: blue;
    align-items: center;
    box-sizing: unset;
    width: 30px;
}