body {
    background-color: #212121;
}

h1.text-404 {
    color: red;
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

div.button {
    border-radius: 2px;
    background-color: black;
    box-sizing: unset;
    height: fit-content;
    width: fit-content;
/*     box-shadow: 1px 3px 3px black; */
    border: 1.5px solid rgb(11, 125, 255);
    transition: background-color .3s;
}

div.button:hover {
    background-color: rgb(11, 125, 255);
}