body {
    background-color: white;
}
  
h1 {
    color: black;
    margin-left: 0px;
    text-align: center;
}  
  
a:hover {
    color: red;
}

a.button {
    color: black;
    background-color: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    font-size: 35px;
}

a.menu-button {
    /* margin-left: 10px; */
    margin-right: 10px;
    color: black;
    background-color: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    float: right;
    font-size: 30px;
}

a.contact-button {
    color: black;
    text-decoration: none;

}

div.menu {
    background-color: transparent;
    transition: background-color 1s, border-radius 2s;
    /* Hey! */
    border-radius: 0px;
}

div.menu:hover {
    border-radius: 8px;
    background-color: red;
}

div.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
}