:root {
    --white: white;
    --black: black;
    --gray: #fafafa8f;
  }

[data-theme="dark"] {
    --white: black;
    --black: white;
    --gray: black;
}

body {
    background-color: var(--white);
}
  
h1 {
    color: var(--black);
    margin-left: 0px;
    text-align: center;
}  
  
a:hover {
    color: red;
}

a.button {
    color: var(--black);
    background-color: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    font-size: 35px;
}

a.menu-button {
    /* margin-left: 10px; */
    margin-right: 10px;
    color: var(--black);
    background-color: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    float: right;
    font-size: 30px;
}

a.contact-button {
    color: var(--black);
    text-decoration: none;

}

div.menu {
    background-color: transparent;
    transition: background-color 1s, border-radius 2s, box-shadow 1s;
    /* Hey! */
    border-radius: 3px;
}

div.menu:hover {
    background-color: rgb(247 247 247);
    box-shadow: 1px 3px 10px rgba(0,0,0,.5);
    /* border-radius: 8px;
    background-color: red; */
}

div.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--grey);
}

a.footer-contact {
    text-decoration: none;
    color: var(--black);
    transition: color 2s;
    text-align: center;
}

a.footer-contact:hover {
    color: blue;
}

h3.footer {
    margin-top: 10px;
}

/* Dark mode button */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    /* top: 10px; */
    right: 10px;
    z-index: 1000;
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.theme-switch input {
    display:none;
}
.slider {
    background-color: #999;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
input:checked + .slider {
    background-color: #eee;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/* Dark mode button */
