@media screen and (max-width: 480px) {
    :root {
        --side_margin_nav: 5px;
    }
    /* nav bar button */
    .nav_links > li{
        display: inline-block;
        margin-top: 10px;
        margin-right: var(--side_margin_nav);
    }

    /* home button */
    nav > li{
        display: inline-block;
        margin-top: 10px;
        margin-left: var(--side_margin_nav);
    }
}



@media screen and (max-width: 360px) {
    nav {
        border-bottom: none;
    }
    .nav_links > li {
        display: none;
        margin-top: 10px;
        margin-right: var(--side_margin_nav);
    }
    .burger {
        display: block;
    }

}

@media screen and (max-width: 180px) {
    .burger div{
        border-radius: 5px;
        width: 20px;
        height: 3px;
        margin: 5px;
        background-color: black;
    
    }
    a {
        font-size: 20px;
    }
}

@media screen and (max-height: 180px) {
    a {
        font-size: 20px;
    }

}