@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --side_margin_nav: 20px;
}

* {
    transition: all 0.3s ease;
}

nav {
    position: fixed;
    left: 3px;
    right: 3px;
    top: 0px;
    border-bottom: #808080 solid ;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

li {
    text-decoration: none;
    list-style: none;

}

a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin: 5px;
    color: #000000;
}

a:hover {
    color: #0099ff;
}


ul.nav_links {
    margin: 0px;
    padding: 0px;
    float: right;
}

/* nav bar button */
.nav_links > li{
    display: inline-block;
    margin-top: 10px;
    margin-right: var(--side_margin_nav);
}

/* home button */
nav > li{
    display: inline-block;
    margin-top: 10px;
    margin-left: var(--side_margin_nav);
}

/* Burder menu for mobile */
.burger {
    display: none;
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

}
.burger div{
    border-radius: 5px;
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: black;
    transition: all 0.3s ease-in 0s;

}